<template>
  <div id="app">
      <navbar></navbar>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
import Navbar from './components/NavBar'

export default {
  components: {
    'Navbar': Navbar
  },
  name: 'App'

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
