<template>
  <div class="addItem">
    <input type="text" v-model="item.name" />
    <font-awesome-icon
      icon="plus-square"
      @click="addItem()"
      :class="[item.name ? 'active' : 'inactive', 'plus']"
    />
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: function () {
    return {
      item: {
        name: ''
      }
    }
  },
  methods: {
    addItem () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .post('/item/store', {
          name: this.item.name
        })
        .then(response => {
          console.log(response)
          if (response.status === 201) {
            this.item.name = ''
            this.$emit('itemChanged')
          }
        })
        .catch(err => {
          console.log(err)
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    }
  }
}
</script>

<style scoped>
.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background: #f7f7f7;
  border: 0;
  outline: none;
  padding: 5px;
  margin-right: 10px;
  width: 100%;
}
.plus {
  font-size: 20px;
}
.active {
  color: #00ce25;
}
.inactive {
  color: "#99999";
}
</style>
