<template>
  <div class="small">
    <line-chart :chart-data="datacollection"></line-chart>
      <ul class="list-group alert alert-danger" v-if="errors.length > 0">
    <li class="list-group-item" v-for="error in errors" :key="errors.indexOf(error)">
      {{ error }}
    </li>
    </ul>
  </div>
</template>

<script>
import LineChart from './LineChart.js'
import axios from 'axios'

export default {
  components: {
    LineChart
  },
  data () {
    return {
      datacollection: null,
      errors: []
    }
  },
  mounted () {
    this.fillData()
  },
  methods: {
    fillData () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/item/analytics', {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .then(response => {
          this.datacollection = response.data
        })
        .catch(err => {
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
            localStorage.setItem('usertoken', '')
            localStorage.setItem('loggedinStatus', 'loggedout')
            window.location.reload()
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    },
    getRandomInt () {
      return Math.floor(Math.random() * (20))
    }
  }
}
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>
