<template>
  <div class="todoListContainer">
    <div class="heading">
      <h2 id="title">Todo List</h2>
      <add-item-form />
    </div>
    <list-view :items="items" v-on:reloadlist="getList()" />
      <ul class="list-group alert alert-danger" v-if="errors.length > 0">
        <li class="list-group-item" v-for="error in errors" :key="errors.indexOf(error)">
          {{ error }}
        </li>
    </ul>
  </div>
</template>

<script>
import AddItemForm from './AddItemForm'
import ListView from './ListView'
import axios from 'axios'

export default {
  components: {
    AddItemForm,
    ListView
  },
  data: function () {
    return {
      items: [],
      errors: []
    }
  },
  methods: {
    getList () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/item/items', {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .then(response => {
          this.items = response.data
        })
        .catch(err => {
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
            localStorage.setItem('usertoken', '')
            localStorage.setItem('loggedinStatus', 'loggedout')
            window.location.reload()
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    }
  },
  create () {
    this.$root.$refs.Home = this
    this.getList()
  },
  mounted () {
    this.getList()
  }
}
</script>

<style scoped>
.todoListContainer {
  width: 350px;
  margin: auto;
  margin-top: 50px;
}

.heading {
  background: #e6e6e6;
  padding: 10px;
}
</style>
