 <template>
 <div>
  <div class="container">
    <span class = "span" v-for="number in array"  v-bind:key="number">
         | {{number}}
    </span>
      <button @click="sumTwoRandom()" class="btn btn-lg btn-primary btn-block">
        Sum two random numbers
      </button>
      <button @click="calculateAverage()" class="btn btn-lg btn-primary btn-block">
        Calculate average
      </button>
      <button @click="sortArrayAsc()" class="btn btn-lg btn-primary btn-block">
        Sort array (ASC)
      </button>
      <button @click="sortArrayDesc()" class="btn btn-lg btn-primary btn-block">
        Sort array (DESC)
      </button>
      <button @click="calculateAverage()" class="btn btn-lg btn-primary btn-block">
        Randomize array
      </button>
</div>
<h1>{{currentlyDisplayedValue}}</h1>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data: function () {
    return {
      array: [],
      currentlyDisplayedValue: 'Awaiting Interaction'
    }
  },
  methods: {
    getList () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/randomizer/')
        .then(response => {
          if (response.status === 200) {
            this.array = response.data
          }
        })
        .catch(err => {
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    },
    sumTwoRandom () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/randomizer/sum')
        .then(response => {
          if (response.status === 200) {
            this.currentlyDisplayedValue = response.data
          }
        })
        .catch(err => {
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    },
    calculateAverage () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/randomizer/average')
        .then(response => {
          if (response.status === 200) {
            this.currentlyDisplayedValue = response.data
          }
        })
        .catch(err => {
          console.log(err)
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    },
    sortArrayDesc () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/randomizer/sort?sort=desc')
        .then(response => {
          if (response.status === 200) {
            this.currentlyDisplayedValue = response.data
          }
        })
        .catch(err => {
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    },
    sortArrayAsc () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .get('/randomizer/sort?sort=asc')
        .then(response => {
          console.log(response)
          if (response.status === 200) {
            this.currentlyDisplayedValue = response.data
          }
        })
        .catch(err => {
          console.log(err)
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    }
  },
  mounted () {
    this.getList()
  }
}

</script>

<style scoped>
.container {
  text-align: center;
  margin-top: 20px;
  padding:10px;
  width: 50%;
  height: 90%;
  background-color: darkgray;
}
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
