<template>
  <div class="item">
    <input type="checkbox" @change="updateCheck()" v-model="item.completed" />
    <span :class="[item.completed ? 'completed' : '', 'itemText']"
      >{{ item.name }}
    </span>
    <button @click="removeItem()" class="trashcan">
      <font-awesome-icon icon="trash" />
    </button>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: ['item'],
  data: function () {
    return {
      errors: []
    }
  },
  methods: {
    removeItem () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .delete('/item/' + this.item.id, {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .then(response => {
          if (response.status === 200) {
            this.$emit('itemChanged')
          }
        })
        .catch(err => {
          console.log(err)
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
            localStorage.setItem('usertoken', '')
            localStorage.setItem('loggedinStatus', 'loggedout')
            window.location.reload()
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    },
    updateCheck () {
      axios
        .create({
          baseURL: 'http://localhost:8001/api',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('usertoken')
          }
        })
        .put('/item/' + this.item.id, {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('usertoken')
          },
          completed: true
        })
        .then(response => {
          if (response.status === 200) {
            this.$emit('itemChanged')
          }
        })
        .catch(err => {
          console.log(err)
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('Unauthenticated! Logging out...')
          } else {
            this.errors.push('Something went wrong!')
          }
        })
    }
  }
}
</script>
<style scoped>
.itemText {
  width: 100%;
  margin-left: 20px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trashcan {
  background: #e6e6e6;
  border: none;
  color: #ff0000;
  outline: none;
}

</style>
