<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent='login'>
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

          <div class="form-group">
            <label for="email"> Email Address</label>
            <input
              type="email"
              v-model="email"
              class="form-control"
              name="email"
              placeholder="Email Address"
            />
          </div>

          <div class="form-group">
            <label for="password"> Password</label>
            <input
              type="password"
              v-model="password"
              class="form-control"
              name="password"
              placeholder="Password"
            />
          </div>
          <p class="text-center text-muted fs-13 mt-20">Don't have an account? <a href="/#/register">Register</a></p>
          <button class="btn btn-lg btn-primary btn-block">
            Login
          </button>
          <ul class="list-group alert alert-danger" v-if="errors.length > 0">
            <li class="list-group-item" v-for="error in errors" :key="errors.indexOf(error)">
              {{ error }}
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../router'

export default {
  data () {
    return {
      email: '',
      password: '',
      loading: false,
      errors: []
    }
  },
  methods: {
    login () {
      this.loading = true
      axios
        .post('http://localhost:8001/api/auth/login', {
          email: this.email,
          password: this.password
        })
        .then(res => {
          if (res.status === 200) {
            localStorage.setItem('usertoken', res.data.access_token)
            this.email = ''
            this.password = ''
            router.push({ name: 'Home' })
            this.emitMethod()
          }
        })
        .catch(err => {
          this.loading = false
          this.errors = []
          if (err.response.status === 422) {
            this.errors.push('We couldnt verify your account details.')
          } else {
            this.errors.push('Something went wrong, please refresh and try again.')
          }
        })
    },
    emitMethod () {
      localStorage.setItem('loggedinStatus', 'loggedin')
      window.location.reload()
    }
  }
}
</script>

<style scoped>

.form-group{
  margin-bottom: 20px;
}
.list-group{
  margin-top: 15px;
}
</style>
