<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar1"
      aria-controls="navbar1"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-md-center"
      id="navbar1"
    >
      <ul class="navbar-nav">
        <li v-if="this.auth == 'loggedin'" class="nav-item">
          <router-link class="nav-link" to="/burndownchart">Burndown</router-link>
        </li>
        <li v-if="this.auth=='loggedin'" class="nav-item">
          <router-link class="nav-link" to="/home">Home</router-link>
        </li>
        <li v-if="this.auth == 'loggedout'" class="nav-item">
          <router-link class="nav-link" to="/login">Login</router-link>
        </li>
        <li v-if="this.auth == 'loggedout'" class="nav-item">
          <router-link class="nav-link" to="/register">Register</router-link>
        </li>
        <li v-if="this.auth == 'loggedin'" class="nav-item">
          <router-link class="nav-link" to="/IntegerRandomizer">Randomizer</router-link>
        </li>
        <li v-on:click="logout()" v-if="this.auth=='loggedin'" class="nav-item">
          <router-link class="nav-link" to="/login" v>Logout</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>

export default {
  data () {
    return {
      auth: '',
      user: ''
    }
  },

  methods: {
    logout () {
      localStorage.removeItem('usertoken')
      localStorage.setItem('loggedinStatus', 'loggedout')
      window.location.reload()
    }
  },
  mounted () {
    this.auth = localStorage.getItem('loggedinStatus')
    // this.auth = 'loggedout'
    if (this.auth === '' || this.auth === null || typeof (this.auth) !== 'string') {
      this.auth = 'loggedout'
    }
  },
  isLoggedIn () {
    localStorage.getItem('usertoken')
  }
}
</script>
